In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('athlete_events_add_hostCountry1.csv')

In [12]:
for col in df.columns:
    print(col)

ID
Name
Sex
Age
Height
Weight
Team
NOC
Games
Year
Season
City
Sport
Event
Medal

In [13]:
conditions = [
    (df['City'] == 'Sydney') | (df['City'] == 'Melbourne'),
    (df['City'] == 'Innsbruck'),
    (df['City'] == 'Antwerpen'),
    (df['City'] == 'Sarajevo'),
    (df['City'] == 'Rio de Janeiro'),
    (df['City'] == 'Montreal') | (df['City'] == 'Vancouver') |(df['City'] == 'Calgary'),
    (df['City'] == 'Beijing'),
    (df['City'] == 'Helsinki'),
    (df['City'] == 'Paris') | (df['City'] == 'Chamonix') |(df['City'] == 'Grenoble'),
    (df['City'] == 'Munich') | (df['City'] == 'Berlin') | (df['City'] == 'Garmisch-Partenkirchen'),
    (df['City'] == 'Athina'),
    (df['City'] == 'Roma') | (df['City'] == 'Torino') | (df['City'] == "Cortina d'Ampezzo"),
    (df['City'] == 'Tokyo') | (df['City'] == 'Sapporo') | (df['City'] == 'Nagano'),
    (df['City'] == 'Mexico City'),
    (df['City'] == 'Amsterdam'),
    (df['City'] == 'Lillehammer') | (df['City'] == 'Oslo'),
    (df['City'] == 'Moskva') | (df['City'] == 'Sochi'),
    (df['City'] == 'Seoul'),
    (df['City'] == 'Barcelona'),
    (df['City'] == 'Stockholm'),
    (df['City'] == 'Sankt Moritz'),
    (df['City'] == 'London'),
    (df['City'] == 'Atlanta') | (df['City'] == 'Los Angeles') | (df['City'] == 'Salt Lake City') | (df['City'] == 'Albertville') | (df['City'] == 'Lake Placid') | (df['City'] == 'St. Louis') | (df['City'] == 'Squaw Valley')
    ]

# create a list of the values we want to assign for each condition
values = ['Australia', 'Austria', 'Belgium','Bosnia','Brazil','Canada','China','Finland','France','Germany','Greece','Italy','Japan','Mexico','Netherlands','Norway','Russia','South Korea','Spain','Sweden','Switzerland','United Kingdom','United States']

# create a new column and use np.select to assign values to it using our lists as arguments
df['Host_Country'] = np.select(conditions, values)

In [14]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Host_Country
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,Spain
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,United Kingdom
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Belgium
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,France
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Canada

In [15]:
df.to_csv("athlete_events_add_hostCountry1.csv", index=False)

In [16]:
df.Host_Country.unique()

array(['Spain', 'United Kingdom', 'Belgium', 'France', 'Canada',
       'United States', 'Norway', 'Finland', 'Australia', 'Sweden',
       'Russia', 'Japan', 'Italy', 'China', 'Brazil', 'Greece', 'Austria',
       'Bosnia', 'Mexico', 'Germany', 'South Korea', 'Netherlands',
       'Switzerland'], dtype=object)

In [17]:
df.City.unique()

array(['Barcelona', 'London', 'Antwerpen', 'Paris', 'Calgary',
       'Albertville', 'Lillehammer', 'Los Angeles', 'Salt Lake City',
       'Helsinki', 'Lake Placid', 'Sydney', 'Atlanta', 'Stockholm',
       'Sochi', 'Nagano', 'Torino', 'Beijing', 'Rio de Janeiro', 'Athina',
       'Squaw Valley', 'Innsbruck', 'Sarajevo', 'Mexico City', 'Munich',
       'Seoul', 'Berlin', 'Oslo', "Cortina d'Ampezzo", 'Melbourne',
       'Roma', 'Amsterdam', 'Montreal', 'Moskva', 'Tokyo', 'Vancouver',
       'Grenoble', 'Sapporo', 'Chamonix', 'St. Louis', 'Sankt Moritz',
       'Garmisch-Partenkirchen'], dtype=object)